<h1><span data-i18n="skills.my_skills">About me</span></h1>

<div>
    <p>I am a fifth year PhD student in the Computer Science department of
    Princeton University, advised by
    Professor <a href="http://www.cs.princeton.edu/~dpw">David Walker</a>. My
    research interests revolve around programming languages and verification. In
    my current work, I am applying techniques from these fields (language
    design, static analysis tools etc.) to help network operators keep calm. The
    main outcome of this work is a new intermediate verification language for
    network control planes
    called <a href="https://www.cs.princeton.edu/~dpw/papers/nv-netpl2019.pdf">NV</a>.
    On top of NV, we've built <a href="cav2019.pdf">Origami</a> a network
    compression tool to scale fault tolerance analysis to very large networks.
    </p>

    <p>
    Previously I worked with Professor
    <a href="http://www.cs.princeton.edu/~appel/"> Andrew Appel</a> on
    the design of an operational semantics for concurrent languages
    suitable for end-to-end verification. We used these semantics to prove:
       <ul>
	 <li> the soundness of VST's concurrent separation logic </li>
	 <li> the correctness of CompCert with respect to a concurrent C program </li>
	 <li> and the absence of data-races in the resulting assembly program </li>
       </ul>
    </p>

    <p>You can find my CV <a href="cv.pdf"> here.</a></p>
</div>
