<h1><span data-i18n="skills.my_skills">About me</span></h1>

<div>

   <p> Starting September 2020, I'll be joining UW-Madison as a postdoctoral
   fellow supported by an
   NSF <a href="https://cra.org/ccc/leadership-development/cifellows/">Computing
   Innovation Fellowship</a>. My mentors are Professors <a href="https://pages.cs.wisc.edu/~loris/">Loris
   D'Antoni</a> and <a href="http://pages.cs.wisc.edu/~akella/">Aditya Akella</a>.

    <p>Before joining Madison I was a PhD student in the Computer Science
    department of Princeton University, advised by
    Professor <a href="http://www.cs.princeton.edu/~dpw">David Walker</a>. My
    research interests revolve around programming languages, verification, and
    their applications in networked systems. During my PhD, I developed a new
    language to model a network's routing behavior and to simplify
    the development of new network analyses
    (see our PLDI 2020 paper on <a href="https://nickgian.github.io/nv-pldi2020.pdf">NV</a>). Check out
    a
    recent <a href="https://netverify.fun/models-of-distributed-protocols/">blog
    post</a> about some of our research on network verification. On top of NV,
    we've also built <a href="cav2019.pdf">Origami</a> a network compression tool to
    scale fault tolerance analysis to very large networks.
    </p>

    <p>You can find more details in my <a href="thesis.pdf">dissertation</a>.</p>

    <p>
    Previously I worked with Professor
    <a href="http://www.cs.princeton.edu/~appel/"> Andrew Appel</a> on
    the design of an operational semantics for concurrent languages
    suitable for end-to-end verification. We used these semantics to prove:
       <ul>
	 <li> the soundness of VST's concurrent separation logic </li>
	 <li> the correctness of CompCert with respect to a concurrent C program </li>
	 <li> and the absence of data-races in the resulting assembly program </li>
       </ul>
    </p>

   <p> Before Princeton, I obtained a <a href="https://wikimpri.dptinfo.ens-cachan.fr/doku.php?id=start">Masters in Computer Science</a> 
       as a student in ENS Cachan, and a diploma in Electrical and Computer Engineering from <a href="https://www.ece.ntua.gr">National Technical University of Athens</a>.
	   I have worked as a research intern at Microsoft Research, Amazon AWS, MPI-SWS, and INRIA.</p>

    <p>You can find my CV <a href="cv.pdf"> here.</a></p>
</div>
